[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/backendLegalbot
ExecStart=/home/ubuntu/backendLegalbot/venv/bin/gunicorn \
          --access-logfile - \
          --workers 5 \  # Increased to 5 workers
          --timeout 60 \  # Increased timeout to 60 seconds
          --bind unix:/run/gunicorn.sock \
          legalChatbot.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
